:root {
  --text: #18181a;
  --primary: #18181a;
  --secondary: #707070;
  --background: #ffff;

  --dark-text: #ffff;
  --dark-primary: #ffff;
  --dark-secondary: #707070;
  --dark-background: #18181a;
}
