/*
  Thanks to https://www.smashingmagazine.com/2024/03/setting-persisting-color-scheme-preferences-css-javascript/
 */
:root {
  --color-scheme: light;

  --text: #232325;
  --primary: #18181a;
  --secondary: #707070;
  --background: #ffff;

  --blockquote-border: #ccc;

  --table-border: #dddddd;
  --table-header: dimgray;
  --table-row: #f3f3f3;
  --table-active-row: #009879;

  --logo-color: #ffff;
  --logo-background: #18181a;

  color-scheme: var(--color-scheme, light);

  &:has(#color-scheme option[value="dark"]:checked) {
    --color-scheme: dark;
    --text: #ffff;
    --primary: #ffff;
    --secondary: #707070;
    --background: #232325;

    --blockquote-border: #ccc;

    --table-border: #dddddd;
    --table-header: gray;
    --table-row: #37373a;
    --table-active-row: #009879;

    --logo-color: #232325;
    --logo-background: #ffff;
  }

  @media (prefers-color-scheme: dark) {
    &:has(#color-scheme option[value="system"]:checked) {
      --color-scheme: dark;
      --text: #ffff;
      --primary: #ffff;
      --secondary: #707070;
      --background: #232325;

      --blockquote-border: #ccc;

      --table-border: #dddddd;
      --table-header: gray;
      --table-row: #37373a;
      --table-active-row: #009879;

      --logo-color: #232325;
      --logo-background: #ffff;
    }
  }
}
