:root {
  --text: #232325;
  --primary: #18181a;
  --secondary: #707070;
  --background: #ffff;

  --blockquote-border: #ccc;

  --table-border: #dddddd;
  --table-header: dimgray;
  --table-row: #f3f3f3;
  --table-active-row: #009879;

  --dark-text: #ffff;
  --dark-primary: #ffff;
  --dark-secondary: #707070;
  --dark-background: #232325;

  --dark-blockquote-border: #ccc;

  --dark-table-border: #dddddd;
  --dark-table-header: gray;
  --dark-table-row: #37373a;
  --dark-table-active-row: #009879;
}
