header {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 3rem;

  a {
    text-decoration: none;
    transition: 0.5s;
  }

  ul {
    padding: 0;
    display: flex;
    gap: 1rem;
    list-style: none;
    flex-wrap: wrap;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
      font-weight: bolder;
      padding: 0.25rem 0.5rem 0.25rem 0.5rem;
      width: fit-content;
    }
  }
}
