html {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  width: 90vw;
  height: 100vh;
  margin: auto;
}

@media (min-width: 576px) {
  body {
    max-width: 510px;
    padding-right: 2rem;
    padding-left: 1rem;
    margin: auto;
  }
}
@media (min-width: 768px) {
  body {
    max-width: 710px;
  }
}
@media (min-width: 1024px) {
  body {
    max-width: 900px;
  }
}
