table {
  border-collapse: collapse;
}

table thead tr {
  background-color: dimgray;
  color: #ffffff;
  text-align: left;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid dimgray;
}

table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
