/* Remove it ?*/
header {
  display: flex;
  margin-bottom: 2rem;
}

header p {
  font-size: 4rem;
  font-weight: bolder;
}

nav {
  width: 100%;
  ul {
    padding: 0;
    display: flex;
    gap: 1rem;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
  }
  a:hover {
    color: black;
  }

  a.active {
    color: black;
  }
}
