---
import Navbar from "../nav/Navbar.astro";
import ThemeSwitcher from "../theme-switcher/ThemeSwitcher.astro";
---

<header>
  <div>
    <span> your name here </span>
    <ThemeSwitcher />
  </div>
  <Navbar />
</header>
