---
import Navbar from "@/components/nav/Navbar.astro";
import ThemeSwitcher from "@/components/ThemeSwitcher/ThemeSwitcher.astro";
---

<header>
  <div>
    <span> your name here </span>
    <ThemeSwitcher />
  </div>
  <Navbar />
</header>
