---

---

<header>
  <span>Plume 🪶</span>
  <button>Light</button>
</header>

<style>
  header {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 2rem;
    align-items: baseline;
    justify-content: space-between;
  }

  span {
    transition: 0.3s;
    font-size: 4rem;
    font-weight: bolder;
  }
</style>
