@media (prefers-color-scheme: dark) {
  footer {
    color: var(--dark-secondary);
  }

  header a {
    color: var(--dark-secondary);
  }

  header a:hover {
    color: var(--dark-primary);
  }

  header a.active {
    color: var(--dark-primary);
  }

  div span {
    background: white;
    color: black;
  }

  table thead tr {
    background-color: var(--dark-table-header);
    color: var(--dark-background);
  }

  table tbody tr {
    border-bottom: 1px solid var(--dark-table-border);
  }

  table tbody tr:nth-of-type(even) {
    background-color: var(--dark-table-row);
  }

  table tbody tr:last-of-type {
    border-bottom: 2px solid var(--dark-table-border);
  }

  table tbody tr.active-row {
    color: var(--dark-table-active-row);
  }

  body {
    color: var(--dark-text);
    background-color: var(--dark-background);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--dark-primary);
  }

  a {
    color: var(--dark-text);
  }

  a:hover,
  a:focus {
    color: var(--dark-primary);
  }

  blockquote {
    color: var(--dark-secondary);
    border-left: 4px solid var(--dark-blockquote-border);
  }

  small {
    color: var(--dark-secondary);
  }

  :focus {
    transition: none;
    outline: 2px solid var(--dark-primary);
  }
}
