---

---

<label for="color-scheme">Color scheme</label>
<select id="color-scheme">
  <option value="system" selected>System</option>
  <option value="light">Light</option>
  <option value="dark">Dark</option>
</select>

<style>
  label[for="color-scheme"] {
    display: none;
  }
</style>

<script>
  /**
   TODO:
   - Add tests
   - Fixed bug requiring F5 to reload JS
   **/
  import { LocalStorageAdaptor } from "./infrastructure/LocalStorageAdaptor";
  import { PageAdaptor } from "./infrastructure/PageAdaptor";
  import { Theme } from "./core/Theme";

  const storage = new LocalStorageAdaptor();
  const page = new PageAdaptor();

  const theme = storage.get();
  if (theme === Theme.UNKNOWN) {
    // Do nothing
  } else {
    page.setPageTheme(theme);
  }

  const storeColorScheme = (event: Event) => {
    const value = (event.target as HTMLSelectElement).value as Theme;
    storage.set(value);
    page.setPageTheme(value);
  };

  page.getInputSelect().addEventListener("input", storeColorScheme);
</script>
