---

---

<label for="color-scheme">Color scheme</label>
<select id="color-scheme">
  <option value="system" selected>System</option>
  <option value="light">Light</option>
  <option value="dark">Dark</option>
</select>

<style>
  /* Thanks to https://github.com/emma11y/tester-a11y */
  label[for="color-scheme"] {
    border: 0 !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
    display: none;
  }

  #color-scheme {
    display: none;
  }
</style>

<script>
  /**
   TODO:
   - Add tests
   - Fix dark theme when loading
   **/
  import { LocalStorageAdaptor } from "./infrastructure/LocalStorageAdaptor";
  import { PageAdaptor } from "./infrastructure/PageAdaptor";
  import { initializeTheme, storeTheme } from "./core/Switcher";

  const pageAdaptor = new PageAdaptor();
  const localStorageAdaptor = new LocalStorageAdaptor();

  initializeTheme(localStorageAdaptor, pageAdaptor);
  pageAdaptor.addEventListener(storeTheme(localStorageAdaptor, pageAdaptor));
</script>
