---

---

<div>
  <label for="theme-switcher-select">Color scheme</label>
  <select id="theme-switcher-select">
    <option value="system" selected>System</option>
    <option value="light">Light</option>
    <option value="dark">Dark</option>
  </select>
</div>

<style>
  /* Thanks to https://github.com/emma11y/tester-a11y */
  label[for="theme-switcher-select"] {
    border: 0 !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
    display: none;
  }

  #theme-switcher-select {
    display: none;
  }
</style>

<script>
  import LocalStorageAdaptor from "./infrastructure/LocalStorageAdaptor";
  import PageAdaptor from "./infrastructure/PageAdaptor";
  import Switcher from "./core/Switcher";
  import EventHandler from "./infrastructure/EventHandler";

  const localStorageAdaptor = new LocalStorageAdaptor();
  const pageAdaptor = new PageAdaptor("theme-switcher-select");
  const eventHandler = new EventHandler(pageAdaptor);
  const switcher = new Switcher(localStorageAdaptor, pageAdaptor, eventHandler);

  switcher.initializeEventListeners();
</script>
