---
import "@/styles/main.css";

import Navbar from "@/components/nav/Navbar.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { getEntry, render } from "astro:content";

const { title } = Astro.props;

const headerAsEntry = await getEntry("components", "header");
if (!headerAsEntry) {
  throw new Error(
    'Could not find "src/content/components/header.md" page for "header" component.',
  );
}

const footerContentAsEntry = await getEntry("components", "footer");
if (!footerContentAsEntry) {
  throw new Error(
    'Could not find "src/content/components/footer" page for "footer" component.',
  );
}

const { Content: HeaderContent } = await render(headerAsEntry);
const { Content: FooterContent } = await render(footerContentAsEntry);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header>
      <HeaderContent />
    </Header>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer>
      <FooterContent />
    </Footer>
  </body>
</html>

<style></style>
