---
import NavLink from "@/components/nav/NavLink.astro";

import type { MarkdownOrAstroPage, NavElement } from "@/types/nav";
const matches = import.meta.glob("../../pages/**/index.{astro,md}", {
  eager: true,
});
const items = Object.values(matches) as MarkdownOrAstroPage[];

const mapToNavItem = (item: MarkdownOrAstroPage): NavElement => ({
  url: item.url || "/",
  title:
    item.url === ""
      ? "Home"
      : item.title || item.frontmatter?.title || "Untitled",
});

const navItemWithTitleOnly = (item: MarkdownOrAstroPage) =>
  Boolean(item.title || item.frontmatter?.title);

const sortItem = (a: NavElement, b: NavElement): number => {
  const isHome = (item: NavElement) => item.url === "/";
  const isAbout = (item: NavElement) => item.url === "/about";

  if (isHome(a)) return -1;
  if (isHome(b)) return 1;
  if (isAbout(a)) return 1;
  if (isAbout(b)) return -1;

  return a.title.localeCompare(b.title);
};

const navItems = items
  .filter(navItemWithTitleOnly)
  .map(mapToNavItem)
  .sort(sortItem);
---

<nav>
  <ul>
    {navItems.slice(0, 5).map((item) => <NavLink item={item} />)}
  </ul>
</nav>
<hr />
